body {background-color:paleturquoise !important;

}
.groot {aqua:
    guardianOfGallaxy{
    colour:violet; 
    background-color: Brown
    Padding:40px;
    font-family: indigo;
    .done{
        background-color: burlywood;
        height:200px
        width:100px
        img{height 100px:
            width 100px;
            border-radius 50px;
        }
.container{ 
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;

    
}
.box{ margin-top: 50px;
    padding: 30px;
    box-shadow: 3px 4px 3px; gray
     text-align: "center";
     boarder radius= 2px;
     colour: aquar:

     a{
        Text text-decoration: none;
        .apple{
            color: lawngreen;
        }
        .mango{ 
            colour:yellow;
        # hobbie{
            color:blue;
     
}
